# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# custom
DNC_classification/data
DNC_classification/Sbatch_files
DNC_classification/pre_trained
DNC_classification/ECCV_res_supplementary
DNC_classification/CVPR_res
DNC_classification/res
DNC_classification/classification_save_models
.vscode
.idea
*.pkl
*.pkl.json
*.log.json
DNC_classification/work_dirs
DNC_classification/mmcls/.mim
DNC_classification/demo
DNC_classification/docs
DNC_classification/model_save
DNC_classification/wordNet
DNC_classification/work_dirs
DNC_classification/CH_CVPR/data
DNC_classification/CH_CVPR/*.txt
DNC_classification/CH_ECCV
# DNC_classification/mmcls
# DNC_classification/configs
DNC_classification/docker
DNC_classification_pre
DNC_classification_save

# Pytorch
*.pth
*.out
*.pkl
